<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cherry.complaintsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Homepage"
            android:label="@string/title_activity_homepage"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SignUp"
            android:label="Hostel Complaints"
            android:theme="@style/AppTheme.NoActionBar" >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider
            android:name=".DBContentProvider"
            android:authorities="com.example.cherry.complaintsystem.DBContentProvider"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".PersonalInfoInput"
            android:label="@string/title_activity_personal_info_input"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>